/* 
**
** Basics
**
*/

.App {
  text-align: center;
  white-space: pre-line;
  height: 100vh;
  background-color: #ffffff;
}

body {
  min-height: 100vh;
  margin: 0;
}

h1 {
  color: #2d3041;
}

h2 {
  color: #2d3041;
}

p {
  color: #2d3041;
}

ul {
  color: #61dafb;
}

li {
  display: inline;
}

a {
  color: #0093db;
}

/* 
**
** Topnav
**
*/

/* Add a black background color to the top navigation */
.topnav {
  background-color: rgb(37, 37, 37);
  overflow: hidden;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 50px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin: 0 2vw;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: rgb(87, 76, 76);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #2d3041;
  color: white;
}

.topnav .user-icon {
  width: 30px;
  border-radius: 50%;
  margin: 7px 15px;
  cursor: pointer;
}

.topnav button {
  background: rgb(37, 37, 37);
  border: 0;
  color: white;
  flex: 1;
  font-size: 17px;
  font-family: inherit;
  text-align: left;
}

.topnav button:hover,
.topnav a:hover button,
.topnav li:hover > .drop-link > .icon-drop,
.topnav li:hover > .link-drop > button > .icon-drop {
  color: #000000;
  background: inherit;
}

.topnav .dropdown {
  display: none;
  opacity: 0;
  flex-direction: column;
  position: absolute;
  background: rgb(37, 37, 37);
  right: 0;
  z-index: 2;
  transition: ease 1s;
  padding-left: 0;
  top: 50px;
}

.topnav .dropdown.active {
  display: flex;
  opacity: 1;
}

.dropdown .icon-drop {
  color: white;
  margin-right: 10px;
  font-size: 30px;
}

.dropdown button,
.dropdown li,
.dropdown a {
  cursor: pointer;
}

.dropdown li {
  margin: auto;
}

.dropdown .drop-link {
  width: 204px;
}

.dropdown a,
.dropdown .drop-link {
  float: left;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  margin: 0;
  padding: 22px 32px;
}

.dropdown li:hover,
.dropdown li:hover a,
.dropdown li:hover button {
  background-color: #ddd;
  color: #000000;
}

.dropdown button {
  display: flex;
  justify-content: flex-start;
  padding: 0;
}

.dropdown span {
  text-align: left;
  flex: 1;
  margin: auto;
  width: 100px;
}

#profile,
#settings {
  display: none;
  position: absolute;
  z-index: 3;
  top: 50px;
  background: rgba(0, 0, 0, 0.5);
  border: 0;
  height: 84.9vh;
  width: 100%;
}

#profile.active,
#settings.active {
  display: block;
}

.exit-modal {
  position: absolute;
  color: #000000;
  font-size: 30px;
  cursor: pointer;
  top: 30px;
  right: 350px;
  border: 0;
  background: white;
}

#profile .page-wrapper,
#settings .page-wrapper {
  background: inherit;
  min-height: calc(100% - 21px);
  height: calc(100% - 21px);
}

#profile .page-inner,
#settings .page-inner {
  background: white;
  width: 50%;
  height: calc(100% - 10px);
  margin: auto;
  padding: 5px 0;
  border-radius: 25px;
}

.profile-wrapper,
.settings-wrapper {
  width: 100%;
}

.profile-pic {
  width: 100%;
  margin: 0 auto;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 50% 50%;
}

.profile-pic-wrapper {
  height: inherit;
  position: absolute;
  width: inherit;
  border-radius: inherit;
  background-size: cover;
  z-index: 0;
  top: 35px;
  background-position: center;
}

.profile-pic img {
  width: 150px;
}

.profile-pic label {
  height: 150px;
  display: inline-block;
  width: 150px;
  margin: 20px auto;
  border-radius: 50%;
}

.profile-pic .upload-pic-overlay {
  max-height: inherit;
  max-width: inherit;
  padding: 35px 25px;
  height: 73px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: inherit;
  position: absolute;
  z-index: 1;
  flex-wrap: wrap;
  opacity: 0;
  background: rgba(0, 0, 0, 0);
  transition: ease 1s;
  margin: 3px;
  width: 93px;
  top: 35px;
}

.profile-pic .upload-pic-overlay:hover,
.profile-pic .cam-icon:hover ~ .upload-pic-overlay {
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
  color: white;
}

#upload-pic {
  opacity: 0;
  display: none;
  position: absolute;
  z-index: -1;
}

.profile-pic .cam-icon {
  position: relative;
  left: 52px;
  z-index: 1;
  top: 18px;
  opacity: 1 !important;
}

label {
  cursor: pointer;
  /* Style as you please, it will become the visible UI component. */
}

.profile-infos {
  margin: 20px auto;
  width: 70%;
}

.profile-infos input[type='email'],
.profile-infos input[type='password'],
.profile-infos input[type='text'] {
  min-width: 100px;
}

.profile-update {
  display: flex;
  justify-content: space-between;
}

.profile-update .edit.deactivate,
.profile-update .cancel.deactivate {
  display: none;
}

.profile-update input[type='button'] {
  width: 35%;
  border-radius: 25px;
}

.profile-update .save.deactivate {
  cursor: default;
  background: grey;
  color: black;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  margin: auto;
  /* right: -15px;
  top: 3px; */
}

.slider.round {
  border-radius: 34px;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider.round:before {
  border-radius: 50%;
}
.slider:before {
  position: absolute;
  content: '';
  height: 12px;
  width: 12px;
  left: 3px;
  bottom: 2.4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch input:checked + .slider {
  background-color: #2196f3;
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(11px);
  -ms-transform: translateX(11px);
  transform: translateX(11px);
}

/* 
**
** Body Home
**
*/

.right {
  float: right;
}

.App-form {
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.buttton {
  background-color: white;
  font-size: 10px 24px;
  border-radius: 12%;
  border: 2px solid #36374e;
}

.fit-picture {
  /* margin-top: 10%; */
  width: 450px;
  border-radius: 25%;
}

.icon {
  width: 45px;
  height: 45px;
  border-radius: 25%;
}

/* 
**
** Form Signup
**
*/

#connection-form {
  display: flex;
  width: 600px;
  padding: 15px 15px 0 15px;
  background-color: white;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px auto;
  /* background: url('./images/game.jpg') no-repeat center; */
  background-size: cover;
  height: 70vh;
}

#connection-form p {
  min-width: 162px;
  margin: 0 auto;
}

input[type='email'],
input[type='password'],
input[type='text'],
.gender,
.rooms {
  border: 0 solid;
  border-bottom: 3px solid #0093db;
  width: 300px;
  margin: 0 auto;
  margin-top: 75px;
  padding: 5px 15px;
  border-radius: 15px;
  height: 30px;
}

input[type='password'],
input[type='email'],
input[type='text'],
.gender,
.rooms {
  margin-top: 15px;
}

.gender,
.rooms {
  width: 330px;
  height: 43px;
}

#log-email {
  margin-top: 75px;
}

#log-password {
  margin-top: 75px;
  display: none;
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.error {
  display: none;
  color: red;
}

.error.active {
  display: block;
}

input[type='button'],
input[type='submit'],
#form button {
  margin: 45px auto 0 auto;
  width: 300px;
  color: white;
  background-color: #0093db;
  cursor: pointer;
  border: 0;
  padding: 5px 15px;
  height: 30px;
}

#do-acc {
  width: 470px;
  margin: auto;
  margin-top: initial;
  padding: 15px;
  text-align: center;
}

/* 
**
** 404
**
*/

.nf-wrapper {
  background: url('./images/404.jpg') no-repeat center;
  background-size: cover;
  height: 92vh;
  font-size: 30px;
  display: flex;
  flex-direction: row-reverse;
}

.nf-inner {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: auto 0;
}

.nf-inner h1 {
  margin: 0 auto;
  font-weight: bolder;
  font-size: 300px;
  width: 500px;
}

.nf-inner small {
  margin: 0;
}

/* 
**
** Dashboard
**
*/

.roomSelector {
  margin: auto;
}

.logIn {
  width: 600px;
  height: 350px;
  border: 5px solid #0091ff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

.logIn input:focus{
  outline: none;
}

.logIn button{
  width: 200px;
  height: 50px;
  border: none;
  background-color: #0091ff;
  color: white;
  font-size: 16px;
  margin-top: 45px;
}

.logIn button:hover{
  cursor: pointer;
  background-color: #037edc;
}

.roomWrapper {
  width: 100%;
  display: flex;
}

.chatContainer {
  width: 600px;
  height: calc(80vh - 4%);
  display: flex;
  flex-direction: column;
  margin: auto;
}

.connectedUsers {
  width: 100px;
  height: calc(80vh - 4%);
  display: flex;
  flex-direction: column;
  border: 1px solid #0091ff;
}


.chatContainer .messages {
  width: 100%;
  padding: 10px 0;
  flex: 1;
  overflow: auto;
}

.chatContainer .messageInputs {
  width: 100%;
  display: flex;
  flex-direction: row;

}

.chatContainer .messageInputs input[type=text],
.chatContainer .messageInputs input[type=button]{
  height: 30px;
  border: none;
  border: 5px solid #0091ff;
  font-size: 20px;
  border-radius: 0;
  margin: 0;
}

.chatContainer .messageInputs input {
  flex: 1;
}

.chatContainer .messageInputs button {
  width: 100px;
  height: 100%;
  background-color: #0091ff;
  border: none;
  color: white;
  font-size: 18px;
}

.messageContainer {
  display: flex;
  /* width: 300px; */
}

.author {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  margin: 20px 0 0 0;
  height: 60px;
  justify-content: center;
}

.author img {
  width: 30px;
  align-self: center;
}

.messageContainer h1{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 17px;
}

#You{
  justify-content: flex-end;
}

#Other {
  justify-content: flex-end;
  flex-direction: row-reverse;
}

#Other .messageIndividual {
  background-color: #5ff064;
  color: black;
}
.messageIndividual {
  width: 200px;
  height: 60px;
  border-radius: 10px;
  display: grid;
  place-items: center;
  background-color: #0091ff;
  opacity: 0.9;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px 10px 0 10px;
}

.page-wrapper {
  background: #cdd4db;
  min-height: 81.3vh;
  height: 81.5vh;
  padding: 10px 25px;
}

.page-inner {
  background: white;
  padding: 10px 10px 0 10px;
  display: flex;
  height: calc(100% - 10px);
  flex-wrap: wrap;
  justify-content: space-between;
}

.page-inner section {
  width: 33%;
}

#global-score {
  text-align: start;
}

#global-score div {
  margin: 10px 0;
}

.coins span,
.ranking span {
  font-size: 30px;
}

#global-score .user-icon {
  width: 20px;
}

.game-history {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
}

.history {
  width: 100%;
}

.avatar {
  margin: 10px auto;
}

.avatar img {
  width: 100px;
}

.game-selector {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.left-arrow,
.right-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  cursor: pointer;
  margin: auto;
}

.left-arrow {
  border-width: 20px 40px 20px 0;
  border-color: transparent #000000 transparent transparent;
}

.right-arrow {
  border-width: 20px 0 20px 40px;
  border-color: transparent transparent transparent #000000;
}

.game-selector img {
  flex: 1;
  width: 200px;
  height: 200px;
}

.games-wrapper {
  height: 200px;
}

.play-btn {
  width: 100%;
  height: 50px;
  flex: 1;
}

.play-btn input[type='button'] {
  height: 50px;
  margin: 0 auto;
  font-size: 20px;
  font-weight: bold;
}

.win,
.lose,
.draw {
  width: 0;
  border-radius: 50%;
  margin: 0 5px;
}

.draw {
  border: 15px solid rgb(66, 165, 245);
}

.lose {
  border: 15px solid rgb(255, 112, 67);
}

.win {
  border: 15px solid rgb(156, 204, 101);
}

#stat {
  height: 400px;
}

#friends {
  width: 70%;
  margin: auto;
  display: flex;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 5px 10px 0 10px;
  box-shadow: 0px -4px 13px -3px #000000;
  margin-bottom: 0;
}

#friends div {
  width: 50%;
  display: flex;
  justify-content: flex-start;
}

.disconnected,
.connected {
  overflow: auto;
}

.disconnected img,
.connected img {
  margin: 0 5px;
}

.disconnected img {
  opacity: 0.5;
}

.friend {
  width: 50px;
  border-radius: 50%;
}

/* 
**
** Footer
**
*/

.footer {
  width: 100%;
  color: white;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  bottom: 0;
  background-color: rgb(37, 37, 37);
}

.authors {
  align-self: end;
  padding: 10px 25px;
  margin: auto 0;
  width: 400px;
  text-align: right;
}

.a-beautiful-heart {
  fill: #ff1c4e;
  width: 1em;
  animation: love 5s ease infinite;
  margin: 0 5px;
}
